.game{
	/*background-image: url('../../assets/images/back_game.png');*/
	background-image: url('../../assets/images/game_background.png');
	background: cover;
	position: relative;
	overflow: hidden;
	height: 100vh;
}

/*@media (max-width: 100em){
	.game{
		height: 75.7rem;
	}
}*/