.waitPage{
	background-color: #E874B0;
	width: 160rem;
  height: 59.5rem;
	overflow: hidden;

}

.loading{
  font-size: 3rem;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

.icons{
	margin: 30px;
}


.wait{
	width: 35rem;
	height: 25rem;
	margin: 29.7rem auto;

	background: #FFFFFF;
	border-radius: 2rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	transform: translateY(-50%);
}

@media (max-width: 100em){
  .waitPage{
    width: 100%; 
	  height: 75.7rem;
  }

  .wait{
	   margin: 37.8rem auto;
  }
} 