.component {
  width: 21rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*margin-right: 20px;*/

  background: #ffffff;
  border-radius: 2rem;
}

.component:not(:last-child) {
  margin-right: 2rem;
}

.name {
  margin-top: 4rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  text-transform: uppercase;

  color: #060e4f;
}
