.register {
  margin-top: 4rem;
  width: 100%;
  padding: 1rem;
}

.form{
  display: grid;
  grid-template-columns: repeat(2, 22rem); 
  grid-template-rows: repeat(4, 6rem);
  grid-gap: 1rem;
  width: 50rem;
  margin: 0 auto !important;

}

.link{
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  color: #efff3b;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-decoration: none;
  background-color: white;
  box-sizing: border-box;

  outline: none;
  cursor: pointer;
  padding: 1.6rem 6rem;

  width: 21.8rem;
  height: 5.7rem;

  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.5rem;

  font-family: Roboto;
  font-style: normal;

  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 4/5;
}






