.hand{
	background-color: transparent;
	width: 22rem;
	/*height: 20rem;*/
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

/*.firstHand .bigCardStorage .bigCard:not(:last-child),
.thirdHand .bigCardStorage .bigCard:not(:last-child){
	margin-right: 21rem;
}*/

/*
.firstHand .smallCardStorage,
.thirdHand .smallCardStorage{
	margin-bottom: -3rem !important;
}*/


.firstHand{
	/*top: 44.5rem;*/
	/*left: 65rem;*/
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	/*height: 25rem;*/
}

.secondHand{
	transform: rotate(90deg) translateX(-96%);
	top: 50%;
	left: 11.5rem;
	/*top: 14.5rem;
	left: 9.5rem;*/
	/*height: 47rem;*/
}

.thirdHand{
	transform: rotate(180deg) translateX(50%);
	/*top: 0rem;*/
	/*left: 65rem;*/
	top: 0;
	left: 50%;
}

.forthHand{
	transform: rotate(270deg) translateX(96%);
	/*top: 14.5rem;*/
	top: 50%;
	right: 11.5rem;
	/*left: 121rem;*/
	/*height: 47rem;*/
}

.smallCardStorage, .bigCardStorage{
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
}

.firstHand .smallCardStorage{
	margin-bottom: 0.6rem;
}

.secondHand .smallCardStorage{
	margin-bottom: 22rem;
}

.thirdHand .smallCardStorage{
	margin-bottom: 0.6rem;
}

.forthHand .smallCardStorage{
	margin-bottom: 22rem;
}