@font-face {
  font-family: American Captain;
  src: url(./font/American\ Captain.otf);
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/background.png");  
  overflow: hidden;
  height: 59.5rem;
}

@media (max-width: 150rem){
  .menu{
    background-image: url("../../assets/images/background1.png");
    overflow: hidden; 
    height: 75.7rem;
  }
} 

.logo {
  text-transform: uppercase;
  margin: 3rem 0;
  color: white;
  display: flex;
}

.name {
  text-align: center;
  font-family: American Captain;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 10rem;
  margin-top: .5rem;
  height: 6rem;
  text-shadow: -.4rem .4rem #D4D4D4;
}

.user{
  position: absolute;
  padding: 2rem;
  min-width: 20rem;
  max-width: 45em;
  height: 5.5rem;
  left: 2rem;
  top: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.userPhoto{
  margin-right: 10px;
  padding: 1rem;
  background-color: #E874B0;
  border-radius: 50%;
}

.userName, .userPhoto{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  color: #060E4F;
}