.Button {
  outline: none;
  cursor: pointer;
  padding: 1rem;
  /*margin: 10px;*/

  width: 22rem;
  height: 5.7rem;

  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.5rem;

  font-family: Roboto;
  font-style: normal;

  background: #ffffff;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  text-transform: uppercase;
}

/*.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}*/

.Button:disabled {
  color: #ccc;
  /*cursor: not-allowed;*/
}

.login {
  background-color: #efff3b;
  color: #ffffff;
  /*float: left;*/
}

.Danger {
  color: #944317;
}

/*.Register{
  color: white;
}
*/