.bigCard{
	background: #9F1717;
	border-radius: 1.5rem;
	width: 10rem;
	height: 14.5rem;
	transition: all 1s ease-out;
}
/*
.bigCard:hover{
	margin-top: -9rem;
}*/

.bigCard:not(:last-child){
	margin-right: 1rem;
}

.smallCard{
	background-color: #562121;
	border-radius: 0.8rem;
	width: 4rem;
	height: 6rem;
}

.smallCard:not(:last-child){
	margin-right: 2rem;
}


#deckcard1{
	position: absolute;
	top: 1.65rem;
	left: 3rem;
	width: 6rem;
	height: 8.5rem;
	background: #592929;
	border-radius: 10px;
	z-index: 0;
}

#deckcard2{
	position: absolute;
	top: 1.65rem;
	left: 3rem;
	width: 6rem;
	height: 8.5rem;
	z-index: 0;
	background: #B54F4F;
	border-radius: 10px;
	transform: rotate(-46.97deg);	
}