.deck{
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 1.5rem;
  border-color: #AA3232;
  background-color: transparent;
  position: relative;
  /*top:28rem;
  left:69.5rem;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events:none;
  padding: 4.5rem;

}