@font-face {
  font-family: American Captain;
  src: url(./font/American\ Captain.otf);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/background.png");  
  overflow: hidden;
  height: 59.5rem;
}

@media (max-width: 100em){
  .main{
    background-image: url("../../assets/images/background1.png");  
    height: 75.7rem;
  }
} 



.logo {
  text-transform: uppercase;
  margin: 3rem 0;
  color: white;
  display: flex;
}

.name {
  text-align: center;
  font-family: American Captain;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 10rem;
  margin-top: .5rem;
  height: 6rem;
  text-shadow: -.4rem .4rem #D4D4D4;
}
