.first{
	position: absolute;
	top: -11rem;
	left: -12rem;
	transform: scaleY(0.72) scaleX(0.72);
}

.second{
	position: absolute;
	top: -11rem;
	right: -12rem;
	transform: scaleY(0.72) scaleX(0.72) scaleX(-1);
}

.third{
	position: absolute;
	bottom: -11rem;
	left: -12rem;
	transform: scaleY(0.72) scaleX(0.72) scaleY(-1);
}

.fourth{
	position: absolute;
	bottom: -11rem;
	right: -12rem;
	transform: rotate(180deg) scaleY(0.72) scaleX(0.72);
}

/*@media( max-width: 1500px){
	.first{
		position: absolute;
		top: -10.3rem;
		left: -10.2rem;
		transform: scale(0.7);
	}

	.second{
		position: absolute;
		top: -10.3rem;
		right: -10.2rem;
		transform: scale(0.7) scaleX(-1);
	}

	.third{
		position: absolute;
		bottom: -10.3rem;
		left: -10.2rem;
		transform: scale(0.7) scaleY(-1);
	}

	.fourth{
		position: absolute;
		bottom: -10.3rem;
		right: -10.2rem;
		transform: rotate(180deg) scale(0.7);
	}
}*/