.Input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .7rem;
  grid-column: 1/3;
  /*margin: 0 auto;*/
}

.InputElement {
  outline: none;
  border: 0.1rem solid #ccc;
  background-color: white;
  font: inherit;
  padding: 1.6rem 5rem;
  display: block;
  width: 45.9rem;
  height: 5.7rem;
  box-sizing: border-box;
  margin-left: -3.5rem;
  /* z-index: -5; */
  box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.25);
  border-radius: .8rem;
}

.InputElement::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;

  color: #e3e3e3;
}

/* .InputElement:focus {
  outline: none;
  background-color: #ccc;
} */

.Invalid {
  border: .1rem solid red;
  background-color: #fda49a;
}
